body, html {
    background-color: darkred;
    padding: 0;
    margin: 0;
    font-family: 'Charm', cursive;
}

::-webkit-scrollbar {
    background-color: black;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 20px;
}

.link-to{
    text-decoration: none;
    font-size: xx-large;
}

.hello{
    font-size: xx-small;
    text-decoration: line-through;
}
.to-link{
    font-weight: 400;
}

#abc{
    color: darkblue;
}

nav {
    background-color: black;
    display: flex;
}

.text-nav{
    color: rgb(255, 187, 0);
    text-decoration: none;
    font-size: larger;
}

.icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid black;
    
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: auto;
}

#Banner {
    background-color: rgb(15, 15, 15);
    margin: 0px;
    padding: 50px;
    color: red;
    text-align: center;
    font-size: x-large;
    background-image: url(./fire.gif);
    background-position: 69%;
    background-size: cover;
    
}

.Box {
    background-color: gray;
    margin: auto;
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 25px rgb(0, 26, 255);
    border-radius: 20px;
    padding: 10px;
    /* Box-shadow: x y blur colour */
}

.image {
    margin: auto;
    display: block;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}

footer {
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    
}

.boxes {
    background-color: black;
    color: red;
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    text-align: center;
}

.heheheha {
    background-color: rgb(71, 70, 70);
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width  : 768){
    body, html {
        background-color: red;
    }
}

p {
    overflow-wrap: break-word;
}

.Content {
    text-align: center;
    text-decoration: underline;
    color: crimson;
    
}

.Minos {
    width: 150px;
}

.Decoration {
    font-size: xx-large;
    color: yellow;
    
}

.Login {
    float: right;
    
}